<!--#include virtual="/pdv/head.rsp" -->
<div ng-app=app>

	<div ng-controller="UsersCtrl" align="center" id="id2">

		<br />

		<div class="pure-g" align="left">
			<div class="pure-u-1-2">
				<b>Nombre d'utilisateurs : {{users.length}} sur 10</b>
			</div>

			<div class="pure-u-1-2" align="right">
				<button type="button" ng-click="newUser()">Ajouter un utilisateur</button>
			</div>
		</div>

		<table class="pure-table pure-table-striped" id="id4">
			<thead>
				<tr class="headers tablesorter-header">
					<th>Identifiant</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Accréditation</th>
				</tr>
			</thead>
			<tbody>
				<tr style="cursor: pointer" ng-repeat="user in users" ng-click="modifyUser(user)">
					<td>{{user.u_login}}</td>
					<td>{{user.u_nom}}</td>
					<td>{{user.u_prenom}}</td>
					<td>{{roles[user.u_role - 1].r_libelle}}</td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>

		<form ng-show="showCreateUser" ng-submit="createUser()" class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="login">Login</label>
					<input id="login" type="text" name="login" ng-model="userNew.u_login" />
				</div>
				<div class="pure-control-group">
					<label for="password">Mot de passe</label>
					<input id="password" type="password" name="mot de passe" ng-model="userNew.u_pass" />
				</div>
				<div class="pure-control-group">
					<label for="nom">Nom</label>
					<input id="nom" type="text" name="nom" ng-model="userNew.u_nom" />
				</div>
				<div class="pure-control-group">
					<label for="prenom">Prénom</label>
					<input id="prenom" type="text" name="prénom" ng-model="userNew.u_prenom" />
				</div>
				<div class="pure-control-group">
					<label for="accreditation">Accréditation</label>
					<select id="accreditation" ng-model="userNew.u_role" ng-options="role.r_id as role.r_libelle for role in roles | limitTo: (userCurrent.u_role-1)"></select>
				</div>
				<button type="button" ng-click="showCreateUser = false">Abandonner</button>
				<button type="submit">Enregistrer</button>
			</fieldset>
		</form>

		<form ng-show="showEditUser" ng-submit="editUser()" class="pure-form pure-form-aligned" id="idc">
			<h4>Edition du compte : {{userEdit.u_login}}</h4>
			<fieldset>
				<div class="pure-control-group">
					<label for="password">Mot de passe</label>
					<input id="password" type="password" name="password" ng-model="userEdit.u_pass" />
				</div>
				<div class="pure-control-group">
					<label for="nom">Nom</label>
					<input id="nom" type="text" name="nom" ng-model="userEdit.u_nom" />
				</div>
				<div class="pure-control-group">
					<label for="prenom">Prénom</label>
					<input id="prenom" type="text" name="prenom" ng-model="userEdit.u_prenom" />
				</div>
				<div class="pure-control-group">
					<label for="accreditation">Accréditation</label>
					<select id="accreditation" ng-model="userEdit.u_role" ng-options="role.r_id as role.r_libelle for role in roles | limitTo: (userCurrent.u_role-1)"></select>
				</div>
				<button type="button" ng-click="deleteUser()">Supprimer</button>
				<button type="button" ng-click="showEditUser = false">Abandonner</button>
				<button type="submit">Enregistrer</button>
			</fieldset>
		</form>

	</div>

	<!-- ANGULARJS -->
	<script type="application/javascript" src="libs/js/angular.min.js"></script>
	<script type="application/javascript" src="libs/js/angular-route.min.js"></script>

	<!-- LIBS -->
	<script type="application/javascript" src="libs/js/lodash.min.js"></script>

	<!-- WEBSITE -->
	<script type="application/javascript" src="js/app.js"></script>
	<script type="application/javascript" src="js/controllers/users.js"></script>

</div>
<!--#include virtual="/pdv/footer.inc" -->
