<div ng-show="load >= 3" align="center" id="id2" ng-init="currentPage = 1">

	<aside ng-show="error" ng-click="error=nil" style="color:#8c3a2b;border-radius:3px;width:40%;padding: 0.5em 0.5em;border:1px solid;margin:1em;">
		Erreur: {{error}}
	</aside>

	<br />

	<div class="pure-g" align="left">
		<div class="pure-u-1-2">
			<b>Nombre d'utilisateurs : {{users.length}} sur 10</b>
		</div>

		<div class="pure-u-1-2" align="right">
			<button type="button" ng-disabled="users.length >= 10" class="pure-button" ng-click="newUser()">Ajouter un utilisateur</button>
		</div>
	</div>

	<table class="pure-table pure-table-striped" id="id4">
		<thead>
			<tr class="headers tablesorter-header">
				<th>Identifiant</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Accréditation</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer" ng-repeat="user in users" ng-click="modifyUser(user)">
				<td>{{user.u_login}}</td>
				<td>{{user.u_nom}}</td>
				<td>{{user.u_prenom}}</td>
				<td>{{roles[user.u_role - 1].r_libelle}}</td>
			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>

	<form name="createForm" ng-show="showCreateUser" ng-submit="createUser()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="login">Login</label>
				<input id="login" type="text" name="login" ng-model="userNew.u_login" required/>
			</div>
			<div class="pure-control-group">
				<label for="password">Mot de passe</label>
				<input id="password" type="password" name="mot de passe" ng-model="userNew.u_pass" required/>
			</div>
			<div class="pure-control-group">
				<label for="nom">Nom</label>
				<input id="nom" type="text" name="nom" ng-model="userNew.u_nom" required/>
			</div>
			<div class="pure-control-group">
				<label for="prenom">Prénom</label>
				<input id="prenom" type="text" name="prénom" ng-model="userNew.u_prenom" required/>
			</div>
			<div class="pure-control-group">
				<label for="accreditation">Accréditation</label>
				<select id="accreditation" ng-init="userNew.u_role=1" ng-model="userNew.u_role" ng-options="role.r_id as role.r_libelle for role in roles | limitTo: (userCurrent.u_role-1)"></select>
			</div>
			<button type="button" class="pure-button" ng-click="showCreateUser = false">Abandonner</button>
			<button type="submit" class="pure-button" ng-disabled="createForm.$invalid">Enregistrer</button>
		</fieldset>
	</form>

	<form name="editForm" ng-show="showEditUser" ng-submit="editUser()" class="pure-form pure-form-aligned" id="idc">
		<h4>Edition du compte : {{userEdit.u_login}}</h4>
		<fieldset>
			<div ng-hide="userCurrent.u_role <= userEdit.u_role" class="pure-control-group">
				<label for="password">Mot de passe</label>
				<input id="password" type="password" name="password" ng-model="userEdit.u_pass" />
			</div>
			<div class="pure-control-group">
				<label for="nom">Nom</label>
				<input id="nom" type="text" name="nom" ng-model="userEdit.u_nom" ng-disabled="userCurrent.u_role <= userEdit.u_role" required/>
			</div>
			<div class="pure-control-group">
				<label for="prenom">Prénom</label>
				<input id="prenom" type="text" name="prenom" ng-model="userEdit.u_prenom" ng-disabled="userCurrent.u_role <= userEdit.u_role" required/>
			</div>
			<div ng_hide="userCurrent.u_id == userEdit.u_id || userCurrent.u_role <= userEdit.u_role" class="pure-control-group">
				<label for="accreditation">Accréditation</label>
				<select id="accreditation" ng-model="userEdit.u_role" ng-options="role.r_id as role.r_libelle for role in roles | limitTo: (userCurrent.u_role-1)"></select>
			</div>
			<button ng-hide="userCurrent.u_id == userEdit.u_id || userCurrent.u_role <= userEdit.u_role" type="button" class="pure-button" ng-click="deleteUser()">Supprimer</button>
			<button type="button" class="pure-button"ng-click="showEditUser = false">Abandonner</button>
			<button type="submit" class="pure-button" ng-disabled="editForm.$invalid || userCurrent.u_role <= userEdit.u_role">Enregistrer</button>
		</fieldset>
	</form>

</div>
{{version}}
